<%= form_for @changeset, @action, fn f -> %>

  <div class="mb-3">
    <%= label f, "Post a comment", class: "form-label" %>
    <%= text_input f, :body, class: "form-control w-50" %>
    <%= error_tag f, :body %>
  </div>

  <div>
    <%= submit "Post", class: "btn btn-outline-success" %>
    <%= link "Cancel", 
      to: Routes.entry_path(@conn, :show, @entry.id), 
      class: "btn btn-outline-danger" %>
  </div>
<% end %>
