<%= if !@conn.assigns[:currentUser] do %> <!-- this syntax does some aliasing for easier use. see below usages -->
  <div class="p-4">
    <%= link "Sign up", 
      to: Routes.user_path(@conn, :new),
      class: "btn btn-primary fs-3" %>
  </div>
<% else %>
  <div>
    <p><%= "You are signed in as #{@currentUser.name}!" %></p>
  </div>
<% end %>

