<span class="my-3">
  <%= link "Cancel", 
    to: Routes.entry_path(@conn, :show, @entry.id),
    class: "btn btn-secondary" %>
</span>
<h1 class="my-3 fw-lighter">Edit Event</h1>
<%= render "form.html", Map.put(assigns, :action, Routes.entry_path(@conn, :update, @entry)) %>

