<h1>Create an Event</h1>
<!-- Here we are bringing together template pieces to render. We are also setting an 
      action to the conn.assigns that the rendered template can use, in this case a form. -->
<%= render "form.html", Map.put(assigns, :action, Routes.entry_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.entry_path(@conn, :index) %></span>
